.articles{
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    padding: 15px;
    margin-bottom: 30px;
    box-shadow: 0 4px 10px 5px rgb(203, 203, 203);
    border-radius: 5px;
}

.articles_content{
    font-size: 12px;
    color: #000000;
    margin-right: 20px;
    max-width: 650px;
}

.articles_title{
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #1890FF;
    max-width: 90%;
    overflow-wrap: anywhere;
}

.articles_like{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 5px;
    vertical-align: top;
    position: relative;
    border: none;
    cursor: pointer;
    padding-right: 0;
    width: 50px;
}

.articles_like:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 7px;
    background: url("../../img/like.svg") no-repeat center;
}

.articles_tag{
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #000000;
    margin-right: 7px;
}

.articles_text{
    overflow-wrap: anywhere;
}

.articles_user{
    display: flex;
}

.articles_user_info{
    position: relative;
    height: 50px;
    padding-right: 10px;
    margin-right: 5px;
}

.articles_user_info__icon{
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.articles_user_info__name{
    color: #000000;
    font-size: 18px;
    margin: 0;
}

.articles_user_info__date{
    font-size: 12px;
    color: #a3a3a3;
}