.article_list{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 4px 10px 5px rgb(203, 203, 203);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
}

.article{
    display: flex;
    justify-content: space-between;
}

.article_header{
    width: 100%;
    font-size: 12px;
    color: #000000;
}

.article_title{
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 60%;
    overflow-wrap: anywhere;
    color: #1890FF;
}

.article_like{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 5px;
    vertical-align: top;
    position: relative;
    border: none;
    cursor: pointer;
    padding-right: 0;
    width: 50px;
    background-color: white;
}

.article_like:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: -22px;
    top: 6px;
    background: url("../../img/nolike.svg") no-repeat center;
}

.article_tag{
    display: inline-block;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #a3a3a3;
    color: #a3a3a3;
    margin-right: 7px;
    margin-bottom: 10px;
}

.article_text{
    max-width: 60%;
    overflow-wrap: anywhere;
    color: #a3a3a3;
}

.article_user{
    display: flex;
    margin-bottom: 25px;
}

.article_user_info{
    position: relative;
    height: 50px;
    padding-right: 10px;
    margin-right: 5px;
    min-width: 100px;
}

.article_user_info__icon{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.article_user_info__name{
    margin: 0;
    color: #000000;
    font-size: 18px;
}

.article_user_info__date{
    display: inline-block;
    margin-bottom: 25px;
    font-size: 12px;
    color: #a3a3a3;
}
.article_content{
  margin-bottom: 50px;
}

.text{
    font-size: 16px;
    margin-bottom: 20%;
    overflow-wrap: anywhere;
}

.text_title{
    font-size: 18px;
    overflow-wrap: anywhere;
}

.spin{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    height: 100px;
}

.article_edit{
    display: flex;
    justify-content: end;
}

.but_article{
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    height: 25px;
    width: 78px;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    padding-top: 5px;
}

.delete_article{
    margin-right: 15px;
    color: #ff000c;
    border: 1px solid #ff000b;
    padding-bottom: 25px;
}

.delete_article:active{
    box-shadow: 0 0 1px 1px rgba(255, 0, 13, 0.35) inset;
}

.edit{
    color: rgba(81, 213, 0, 0.88);
    border: 1px solid rgba(88, 232, 2, 0.88);
}

.edit:active{
    box-shadow: 0 0 1px 1px rgba(88, 232, 2, 0.88) inset;
}

