.head{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
}

.head_title{
    font-size: 18px;
    padding-top: 15px;
    cursor: default;
}

.head_but{
    font-size: 18px;
    cursor: pointer;
    width: 110px;
    height: 50px;
}

.entrance{
    margin-right: 20px;
    border: none;
}

.log-in{
    border: 1px solid rgba(88, 232, 2, 0.88);
    border-radius: 4px;
    color: rgba(81, 213, 0, 0.88);
}

.log-in:active{
    border: 2px solid rgba(88, 232, 2, 0.88);
}